<!DOCTYPE html>
<html>
  <head>
    <title>DevOps Tools</title>
  </head>
  <body>
    <h1>DevOps Tools</h1>
    <ul>
      <li>Git/Github</li>
      <li>Jenkins</li>
      <li>Ansible</li>
    </ul>
  </body>
</html>